<ion-header>
  <ion-navbar>
    <ion-title>Meal Overview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Selected Dishes</h3>
    <ion-grid>
      <ion-row wrap>
        <ion-col width-50 *ngFor="let item of dishes; let i = index">
          <ion-card>
            <img src="{{item.img_thumb}}" />
            <ion-card-content>
              <p>{{item.name}}</p>
              <button ion-button small icon-left item-right outline color="danger" (click)="removeDish($event, item, i)">
                <ion-icon name="trash" color="danger"></ion-icon>
                Remove
              </button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card (click)="addDish()">
            <ion-card-content>
              <ion-icon class="large-icon" name="add-circle"></ion-icon>
              <p>Tap to add dishes</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <p *ngIf="dishes.length > 0"><strong>Estimated Cook Time: </strong>{{schedule.estimated_time}} minutes</p>

    <h3 *ngIf="dishes.length > 0">Ingredients</h3>
    <ion-list>
      <ion-item *ngFor="let ingredient of schedule.ingredients">
        <ion-label>{{ingredient}}</ion-label>
        <ion-checkbox checked="false"></ion-checkbox>
      </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block
      [disabled]="(dishes.length > 0) ? false : true"
      [color]="(dishes.length > 0) ? 'default' : 'dark'"
      (click)="startCooking()">Start Cooking!</button>
  </ion-toolbar>
</ion-footer>
