<ion-header>
  <ion-navbar>
    <ion-title>Meal Overview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Selected Dishes</h3>
    <ion-grid>
      <ion-row wrap>
        <ion-col width-50 *ngFor="let item of dishes; let i = index">
          <ion-card>
            <img src="{{item.img_thumb}}" />
            <ion-card-content>
              <p>{{item.name}}</p>
              <button ion-button small icon-left item-right outline color="danger" (click)="removeDish($event, item, i)">
                <ion-icon name="trash" color="danger"></ion-icon>
                Remove
              </button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h3 *ngIf="dishes.length > 0">Ingredients</h3>
    <ion-list>
      <ul *ngFor="let item of dishes">
        <li *ngFor="let ingredient of schedule.ingredients">
          {{ingredient}}
        </li>
      </ul>
    </ion-list>

    <h3 *ngIf="dishes.length > 0">Estimated Cooking Time</h3>
    <p *ngIf="dishes.length > 0">{{schedule.estimated_time}}</p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block
      [disabled]="(dishes.length > 0) ? false : true"
      [color]="(dishes.length > 0) ? 'default' : 'dark'"
      (click)="startCooking()">Start Cooking!</button>
  </ion-toolbar>
</ion-footer>
