<ion-header>
  <ion-navbar>
    <ion-title>Dish Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{item.name}}</h1>
  <img src="{{item.img}}" />
  <p>Cook Time: {{item.cookTime}} minutes</p>

  <h3>Ingredients</h3>
  <ul>
    <li *ngFor="let ingredient of item.ingredients">
      {{ingredient}}
    </li>
  </ul>

  <h3>Steps</h3>
  <ol>
    <li *ngFor="let step of item.steps">
      <strong>{{step[0]}}:</strong>
        <ul>
          <li *ngFor="let substep of step[1]">
            {{substep}}
          </li>
        </ul>
    </li>
  </ol>

  <div class="spacer"></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="addToMeal($event, item)">Add to Meal</button>
  </ion-toolbar>
</ion-footer>
