page-cooking {

  $colors: (
    cooking-done:    #387ef5,
    cooking-ready:  #32db64,
    cooking-upcoming:  #f53d3d,
  );


  .wrap-normal {
    white-space: normal;
  }

  .slide {
    overflow-y: hidden;
    transition: max-height 1s ease;
  }
  .center {
    text-align: center;
  }
}
