page-cooking {
  .wrap-normal {
    white-space: normal;
  }

  .slide {
    overflow-y: hidden;
    transition: max-height 1s ease;
  }
  .center {
    text-align: center;
  }

  #doneCooking {
    margin-left: 30px;
    margin-right: 30px;
  }
}
